<div id="quizedetailscard" style="margin-left: 30%; margin-top: 5%;" *ngFor="let data of quizlist | async">
    <div class="card-body"
        style="box-shadow: 2px 2px 15px 8px rgb(147, 158, 147); margin-right: 5%; margin-bottom: 10%; padding-left: 3%; width: 520px; border-radius: 10px; background-color: white;">
        <h4 class="card-title text-center" style="margin-bottom: 4%;"><b style="font-size: 30px;">{{data.quizname}}</b>
        </h4>

        <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">No of questions: </b><b
                style="margin-left: 14%">{{data.noquestions}}</b></div>
        <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Passing grade(%): </b><b
                style="margin-left: 6%">{{data.passingpercent}}</b></div>

        <div style="margin-top: -7.5%; margin-left: 28%;">
            <a (click)="editQuiz(data.id)" style="margin-right: 2%; border: none;" class="btn btn-primary">Edit
                Quiz</a>
            <a (click)="attemptQuiz(data.id)" style="margin-right: 2%; border: none;" class="btn btn-primary">Attempt
                Quiz</a>
        </div>
        <a (click)="addQuiz()" style="margin-right: 2%; border: none;" class="btn btn-primary">Add
            Quiz</a>
    </div>
</div>